$white: #ffffff;
$black: #000000;
$grey: #808080;
$royalPurple: #4169E1FF;

$primary: #282c34;


$darkColors: (
  primary: lighten($black, 10%),
  secondary: lighten($white, 10%)
);

$lightColors: (

);

