@import "public/scss/specificity";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-image: url(/src/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  height: 8rem;
  font-size: calc(10px + 2vmin);

  &-item {
    padding: 0 2rem;

    & + & {
      border-left: 2px solid whitesmoke;
    }
  }
}

main {
  background: whitesmoke;
}

.wrapper {
  width: min(999px, 90%);
  margin: 0 auto;
  padding: .5rem 3rem;
  background: whitesmoke;
  border-radius: 20px;
}

footer {
  margin-top: auto;
  height: 8rem;
  background-color: #282c34;
}

.description {
  font-size: 90%;
  padding: 1rem;
  border-radius: 10px;
  background: #e3e3e3;
}
