.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-image: url(/src/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  height: 8rem;
  font-size: calc(10px + 2vmin);

  &-item {
    padding: 0 2rem;

    & + & {
      border-left: 2px solid whitesmoke;
    }
  }
}

main {
  background: whitesmoke;
}

.wrapper {
  width: min(1260px, 90%);
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background: whitesmoke;
  border-radius: 20px;
}

footer {
  margin-top: auto;
  height: 8rem;
  background-color: #282c34;
}

.description {
  font-size: 90%;
  padding: 1rem;
  border-radius: 10px;
  background: #e3e3e3;
}

table {
  margin: 0 auto;
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}

table [data-sort="test"] {
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .3rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.blog-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;

  article {
    cursor: pointer;
    background: white;
    box-shadow: 3px 7px 6px 3px lavender;
    border-radius: 1rem;
    padding: 1.5rem;

    &:hover {
      animation: pulse 1.25s ease-out forwards;
      z-index: 10;
    }
  }
}

@keyframes pulse {
  20% {
    transform: rotate(2deg) scale(1.03)
  }
  40% {
    transform: rotate(-2deg) scale(1.05)
  }
  60% {
    transform: rotate(1deg) scale(1.1)
  }
  80% {
    transform: rotate(-1deg) scale(1.15)
  }
  100% {
    transform: rotate(0deg) scale(1.2)
  }
}
